[mysqld]

server_id =

binlog_format = ROW
default-storage-engine = innodb
innodb_autoinc_lock_mode = 2

enforce_storage_engine = InnoDB

bind-address =
report_host = 

# Galera Provider Configuration
wsrep_on = ON
wsrep_provider = /usr/lib64/galera/libgalera_smm.so
wsrep_slave_threads =

# Galera Cluster Configuration
wsrep_cluster_name = 
wsrep_cluster_address = gcomm://
# wsrep_notify_cmd=/var/lib/jelastic/bin/wsrep-notify.sh

# Galera Node Configuration
wsrep_node_address =
wsrep_node_name =
