[mysqld]
server-id = 
auto-increment-increment = 2
auto-increment-offset = 
binlog_format = mixed
log-bin = mysql-bin
log-slave-updates = OFF
expire_logs_days = 7
slave-skip-errors = 1062
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
replicate-wild-ignore-table = performance_schema.%
replicate-wild-ignore-table = information_schema.%
replicate-wild-ignore-table = mysql.%
read_only = 0
report_host =
