[mysqld]

binlog_format = ROW
default-storage-engine = innodb
innodb_autoinc_lock_mode = 2

bind-address =
report_host = 

wsrep_provider = /usr/lib64/galera/libgalera_smm.so
wsrep_cluster_name = 
wsrep_cluster_address = gcomm://

wsrep_node_address =
wsrep_node_name =

wsrep_sst_method=rsync

pxc_strict_mode=ENFORCING
